# CVS global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core

# Project ignores (converted from .cvsignore files)
/aux/Makefile
/aux/Makefile.in
/docs/Makefile
/docs/Makefile.in
/docs/dos/Makefile
/docs/dos/Makefile.in
/docs/maint/Makefile
/docs/maint/Makefile.in
/docs/patches/Makefile
/docs/patches/Makefile.in
/doom/*.lump
/doom/doom4dum.wad
/doom/Makefile
/doom/Makefile.in
/dumb/.deps
/dumb/Makefile
/dumb/Makefile.in
/dumb/aadumb
/dumb/dosdumb
/dumb/ggidumb
/dumb/ldumb
/dumb/xdumb
/htic/Makefile
/htic/Makefile.in
/libdumb/.deps
/libdumb/Makefile
/libdumb/Makefile.in
/libdumbrender/Makefile
/libdumbrender/Makefile.in
/libdumbutil/.deps
/libdumbutil/Makefile
/libdumbutil/Makefile.in
/libdumbwad/.deps
/libdumbwad/Makefile
/libdumbwad/Makefile.in
/libdumbworldb/Makefile
/libdumbworldb/Makefile.in
/libmissing/.deps
/libmissing/Makefile
/libmissing/Makefile.in
/ptcomp/.deps
/ptcomp/Makefile
/ptcomp/Makefile.in
/ptcomp/ptcomp
/test/.deps
/test/Makefile
/test/Makefile.in
/test/fixed_bm
/tool/.deps
/tool/Makefile
/tool/Makefile.in
/tool/dark2trans
/tool/mkdfnt
/tool/mknulmap
/tool/mkpnames
/tool/ppmtodumb
/tool/wadtool
/xwad/.deps
/xwad/Makefile
/xwad/Makefile.in
/xwad/XWad
/xwad/XProtoThing
/Makefile
/Makefile.in
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/dumb-*-1.spec
/stamp-h
/stamp-h.in
